@import 'modules/lesshat';

img{outline: none;}
h1,h2,h3,h4,h5,p{margin: 0; padding: 0;}
ol,ul,li{list-style: none;}
ul{margin: 0; padding: 0;}
a{outline: none; text-decoration: none;}
@white: #FFF;
@black: #000;
@cinza: #231f20;
@cinzaclaro: #f6f6f6;
@fonte: 'Muli', sans-serif;
@fontespectral: 'Spectral', serif;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body{
  font-family: @fonte !important;
  font-weight: normal;
  overflow-x: hidden;
  .box-sizing(border-box) !important;
}
a{
  text-decoration: none !important;
}
.alinhacentro{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear{
  clear: both;
}
.backgroundcover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao{
  .transition(all .8s ease);
}
.menu-switch{
  float: left;
  left: -56px;
  position: absolute;
  color: @cinza;
  background: @white;
  padding: 10px 14px;
  .box-sizing(border-box);
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
  @media(min-width: 320px) and (max-width: 960px){
    display: block;
  }
  @media(min-width: 320px) and (max-width: 960px){
    display: block;
  }
}
#contatomenu{
  float: left;
  width: 100%;
  padding: 10px 5%;
  font-size: 13px;
  border-top: 1px solid #ececec;
  p{
    margin: 10px 0;
  }
  h3{
    font-size: 16px;
    font-weight: 700;
  }
}
nav#menuresponsivo{
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: @white;    
  li.title{
    padding: 7px 5%;
    background: @cinzaclaro;
    color: @black !important; 
    font-weight: bold;
  }
  li{
    float: left;
    width: 100%;
    clear: both;
    font-size: 17px;
    a{
      float: left;
      clear: both;
      width: 100%;
      padding: 10px 5%;
      color: @cinza;
      font-weight: 600;
      &:hover{
        background: @cinza;
        color: @white;
      }
    }
  }
}
.menu-overlay{
  display: none;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site{
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  .transicao;
}
section#menubomile{
  width: 250px;
  float: right;
}
header{
  float: left;
  width: 100%;
  z-index: 9997;
  height: 183px;
  @media(max-width: 960px){
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background: @white;
    .box-shadow(0 0 30px #666);
  }
  #logo{
    margin-top: 70px;
    @media(max-width: 768px){
      margin-top: 10px;
      img{
        height: 40px;
      }
    }
  }
  nav#menu{
    float: right;
    margin-top: 80px;
    li{
      float: left;
      margin-left: 20px;
      font-size: 16px;
      a{
        color: @cinza;
      }
    }
  }
}

#cboxOverlay{background:url('../images/overlay.png') repeat 0 0; top:0; left:0; z-index:9999; overflow:hidden; position: fixed;  width: 100%; height: 100%;}
#colorbox{outline:0; z-index: 9999;}
#cboxContent{overflow:visible; background: @white;}
.cboxIframe{background:#fff; width: 100%; height: 100%;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background: #FFF;}
#cboxLoadingGraphic{background:url('../images/loading.gif') no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{display: none;}
.cboxPhoto{padding: 10px;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url('../images/controls.png') no-repeat 0 0;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxPrevious{background: url('../images/colorbox_prev.png') center no-repeat; width: 38px; height: 37px; left: 10px; top: 50%; position: absolute;}
#cboxNext{background: url('../images/colorbox_next.png') center no-repeat; width: 38px; height: 37px; right: 10px; top: 50%;  position: absolute;}
#cboxClose{background: url('../images/btn_close.png') center no-repeat; width: 45px; height: 45px; right: -20px; top: -20px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

#loader{
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat @white;
}
section#conteudopagina{
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 20px 0 50px;
  .box-sizing(border-box);
  background: url('../images/bgcinza-top.jpg') top repeat-x #f6f6f6,url('../images/bgcinza-bottom.jpg') bottom repeat-x #f6f6f6;
  @media(max-width:768px){
    background: @white;
    padding: 50px 0;
    margin-top: 60px;
  }
  .msg{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: @cinza;
    font-family: @fonte;
  }
  h1{
    font-family:@fontespectral;
    font-size: 36px;
    margin-bottom: 30px;
  }
  h1.titulopag{
    margin-top: 20px;
    @media(max-width: 768px){
      margin-top: 40px;
    }
  }
  p{
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 14px;
  }
}
.bgwhite{
  background: @white !important;
}
section#banner{
  float: left;
  width: 100%;
  @media(max-width: 768px){
    margin-top: 60px;
  }
  img{
    filter: grayscale(1);
    &:hover{
      filter: grayscale(0);
    }
  }
}
img.filterimg{
  filter: grayscale(1);
  &:hover{
    filter: grayscale(0);
  }
}
section#sobre-home{
  float: left;
  width: 100%;
  padding: 80px 0;
  .box-sizing(border-box);
  text-align: center;
  font-size: 14px;
  h2{
    font-family: @fontespectral;
    font-size: 36px;
  }
  .setabaixo{
    margin: 30px 0;
    display: inline-block;
    .fa{
      font-size: 30px;
    }
  }
  p{
    margin-bottom: 20px;
    line-height: 30px;
  }
  hr{
    width: 400px;
    border: 1px solid #a1a1a1;
    display: inline-block;
    @media(max-width: 768px){
      width: 100%;
    }
  }
}
section#cursos-home{
  float: left;
  width: 100%;
  background: url('../images/bgcinza-top.jpg') top repeat-x #f6f6f6,url('../images/bgcinza-bottom.jpg') bottom repeat-x #f6f6f6;
  @media(max-width: 768px){
    background: @white;
  }
}
.box-curso{
  float: left;
  width: 100%;
  padding: 15px;
  .box-sizing(border-box);
  background: @white;
  border: 1px solid #ececec;
  min-height: 660px;
  margin-bottom: 30px;
  position: relative;
  .thumb-curso{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
  .desc-curso{
    float: left;
    width: 100%;
    padding: 20px 20px;
    .box-sizing(border-box);
    line-height: 25px;
    h2{
      font-family: @fontespectral;
      color: @cinza;
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .botoes-box-curso{
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
    padding: 0 30px;
    .box-sizing(border-box);
    a{
      color: @cinza;
      font-size: 14px;
      margin-right: 40px;
      font-weight: 700;
      &:last-child{
        margin-right: 0;
      }
      @media(max-width: 768px){
        margin-right: 20px;
      }
      .far{
        font-size: 14px;
      }
    }
  }
}
#btn-vermais{
  float: left;
  width: 100%;
  margin: 40px 0;
  text-align: center;
  hr{
    width: 400px;
    border: 1px solid #a1a1a1;
    display: inline-block;
    margin: 10px 0;
    @media(max-width: 768px){
      width: 100%;
    }
  }
  a{
    font-family: @fontespectral;
    font-weight: 700;
    color: @cinza;
    font-size: 18px;
  }
}
footer{
  float: left;
  width: 100%;
  padding: 15px 0;
  .box-sizing(border-box);
  border-top: 1px solid @cinzaclaro;
  color: #838383;
  span{
    font-size: 9px;
    font-weight: 700;
  }
  a{
    color: #CCC;
    margin: 0 3px;
  }
  .fa{
    font-size: 14px;
  }
}
.pd0{
  @media(max-width: 768px){
    padding: 0;
  }
}
.pd0c{
  padding: 0;
}
.hidden{
  display: none;
}
#form-modal{
  padding: 40px;
  .box-sizing(border-box);
  @media(max-width: 768px){
    padding: 15px;
  }
  h2{
    font-family: @fontespectral;
    color: @cinza;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    float: left;
  }
  input[type='text']{
    float: left;
    width: 100%;
    padding: 12px 20px;
    .box-sizing(border-box);
    font-weight: 600;
    color: @cinza;
    border: none;
    margin-bottom: 10px;
    background: #f5f5f5;
    .placeholder(#454543);
  }
  textarea{
    float: left;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 20px;
    .box-sizing(border-box);
    font-weight: 600;
    color: @cinza;
    border: none;
    margin-bottom: 10px;
    background: #f5f5f5;
    .placeholder(#454543);
  }
  button[type='submit']{
    float: left;
    color: @white;
    background: #454543;
    border: none;
    font-weight: 600;
    font-size: 13px;
    padding: 14px 30px;
    .box-sizing(border-box);
    margin-bottom: 20px;
    .transicao;
    &:hover{
      background:@cinza;
    }
    .far{
      margin-right:10px;
      font-size: 18px;
    }
  }
  p{
    font-size: 12px;
    font-weight: 600;
  }
}
#formulario-contato{
  float: left;
  width: 100%;
  margin-top: 110px;
  @media(max-width: 768px){
    margin-top: 0;
  }
  input[type='text']{
    float: left;
    width: 100%;
    padding: 14px 20px;
    .box-sizing(border-box);
    font-weight: 600;
    color: @cinza;
    border: none;
    margin-bottom: 15px;
    background: @white;
    .placeholder(#454543);
    @media(max-width: 768px){
      background: #f5f5f5;
    }
  }
  textarea{
    float: left;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 14px 20px;
    .box-sizing(border-box);
    font-weight: 600;
    color: @cinza;
    border: none;
    margin-bottom: 15px;
    background: @white;
    .placeholder(#454543);
    @media(max-width: 768px){
      background: #f5f5f5;
    }
  }
  input[type='submit']{
    float: left;
    color: @white;
    background: #454543;
    border: none;
    font-weight: 600;
    font-size: 13px;
    padding: 14px 30px;
    .box-sizing(border-box);
    margin-bottom: 20px;
    .transicao;
    &:hover{
      background:@cinza;
    }
  }
}
.infocontato{
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 30px;
  .box-sizing(border-box);
  color: @black;
  margin-top: 35%;
  .box-sizing(border-box);
  p{
    font-size: 12px;
    line-height: 25px !important;
    font-weight: 600;
    strong{
      font-weight: 700;
    }
  }
  h3{
    font-weight: 700;
    font-size: 16px;
  }
}
.capacurso{
  margin-bottom: 40px;
}
.descricao-curso{
  text-align: center;
  margin-bottom: 50px;
  h1{
    font-family: @fontespectral;
    font-size: 36px;
    margin-bottom: 40px;
  }
  p{
    margin-bottom: 20px;
    line-height: 30px;
  }
}
.data-horario{
  .far{
    font-size: 25px;
    float: left;
    height: 70px;
    margin-right: 10px;
  }
  span{
    font-size: 14px;
  }
  strong{
    font-size: 16px;
    font-weight: 700;
  }
  small{
    font-weight: 600;
    font-size: 12px;
  }
}
.btn-agendar-curso{
  text-align: center;
  margin: 50px 0;
  a{
    background: @cinza;
    color: @white;
    padding: 15px 30px;
    .box-sizing(border-box);
    font-size: 14px;
    .far{
      font-size: 18px;
      margin-right: 10px;
    }
    .transicao;
    &:hover{
      background: #666;
    }
  }
}