img {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'Muli', sans-serif !important;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
a {
  text-decoration: none !important;
}
.alinhacentro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear {
  clear: both;
}
.backgroundcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.menu-switch {
  float: left;
  left: -56px;
  position: absolute;
  color: #231f20;
  background: #FFF;
  padding: 10px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
#contatomenu {
  float: left;
  width: 100%;
  padding: 10px 5%;
  font-size: 13px;
  border-top: 1px solid #ececec;
}
#contatomenu p {
  margin: 10px 0;
}
#contatomenu h3 {
  font-size: 16px;
  font-weight: 700;
}
nav#menuresponsivo {
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: #FFF;
}
nav#menuresponsivo li.title {
  padding: 7px 5%;
  background: #f6f6f6;
  color: #000 !important;
  font-weight: bold;
}
nav#menuresponsivo li {
  float: left;
  width: 100%;
  clear: both;
  font-size: 17px;
}
nav#menuresponsivo li a {
  float: left;
  clear: both;
  width: 100%;
  padding: 10px 5%;
  color: #231f20;
  font-weight: 600;
}
nav#menuresponsivo li a:hover {
  background: #231f20;
  color: #FFF;
}
.menu-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site {
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
section#menubomile {
  width: 250px;
  float: right;
}
header {
  float: left;
  width: 100%;
  z-index: 9997;
  height: 183px;
}
@media (max-width: 960px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background: #FFF;
    -webkit-box-shadow: 0 0 30px #666;
    -moz-box-shadow: 0 0 30px #666;
    box-shadow: 0 0 30px #666;
  }
}
header #logo {
  margin-top: 70px;
}
@media (max-width: 768px) {
  header #logo {
    margin-top: 10px;
  }
  header #logo img {
    height: 40px;
  }
}
header nav#menu {
  float: right;
  margin-top: 80px;
}
header nav#menu li {
  float: left;
  margin-left: 20px;
  font-size: 16px;
}
header nav#menu li a {
  color: #231f20;
}
#cboxOverlay {
  background: url('../images/overlay.png') repeat 0 0;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
#colorbox {
  outline: 0;
  z-index: 9999;
}
#cboxContent {
  overflow: visible;
  background: #FFF;
}
.cboxIframe {
  background: #fff;
  width: 100%;
  height: 100%;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  background: #FFF;
}
#cboxLoadingGraphic {
  background: url('../images/loading.gif') no-repeat center center;
}
#cboxLoadingOverlay {
  background: #000;
}
#cboxTitle {
  display: none;
}
.cboxPhoto {
  padding: 10px;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url('../images/controls.png') no-repeat 0 0;
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxPrevious {
  background: url('../images/colorbox_prev.png') center no-repeat;
  width: 38px;
  height: 37px;
  left: 10px;
  top: 50%;
  position: absolute;
}
#cboxNext {
  background: url('../images/colorbox_next.png') center no-repeat;
  width: 38px;
  height: 37px;
  right: 10px;
  top: 50%;
  position: absolute;
}
#cboxClose {
  background: url('../images/btn_close.png') center no-repeat;
  width: 45px;
  height: 45px;
  right: -20px;
  top: -20px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
#loader {
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat #FFF;
}
section#conteudopagina {
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 20px 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/bgcinza-top.jpg') top repeat-x #f6f6f6, url('../images/bgcinza-bottom.jpg') bottom repeat-x #f6f6f6;
}
@media (max-width: 768px) {
  section#conteudopagina {
    background: #FFF;
    padding: 50px 0;
    margin-top: 60px;
  }
}
section#conteudopagina .msg {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #231f20;
  font-family: 'Muli', sans-serif;
}
section#conteudopagina h1 {
  font-family: 'Spectral', serif;
  font-size: 36px;
  margin-bottom: 30px;
}
section#conteudopagina h1.titulopag {
  margin-top: 20px;
}
@media (max-width: 768px) {
  section#conteudopagina h1.titulopag {
    margin-top: 40px;
  }
}
section#conteudopagina p {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 14px;
}
.bgwhite {
  background: #FFF !important;
}
section#banner {
  float: left;
  width: 100%;
}
@media (max-width: 768px) {
  section#banner {
    margin-top: 60px;
  }
}
section#banner img {
  filter: grayscale(1);
}
section#banner img:hover {
  filter: grayscale(0);
}
img.filterimg {
  filter: grayscale(1);
}
img.filterimg:hover {
  filter: grayscale(0);
}
section#sobre-home {
  float: left;
  width: 100%;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}
section#sobre-home h2 {
  font-family: 'Spectral', serif;
  font-size: 36px;
}
section#sobre-home .setabaixo {
  margin: 30px 0;
  display: inline-block;
}
section#sobre-home .setabaixo .fa {
  font-size: 30px;
}
section#sobre-home p {
  margin-bottom: 20px;
  line-height: 30px;
}
section#sobre-home hr {
  width: 400px;
  border: 1px solid #a1a1a1;
  display: inline-block;
}
@media (max-width: 768px) {
  section#sobre-home hr {
    width: 100%;
  }
}
section#cursos-home {
  float: left;
  width: 100%;
  background: url('../images/bgcinza-top.jpg') top repeat-x #f6f6f6, url('../images/bgcinza-bottom.jpg') bottom repeat-x #f6f6f6;
}
@media (max-width: 768px) {
  section#cursos-home {
    background: #FFF;
  }
}
.box-curso {
  float: left;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #ececec;
  min-height: 660px;
  margin-bottom: 30px;
  position: relative;
}
.box-curso .thumb-curso {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.box-curso .thumb-curso img {
  width: 100%;
}
.box-curso .desc-curso {
  float: left;
  width: 100%;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 25px;
}
.box-curso .desc-curso h2 {
  font-family: 'Spectral', serif;
  color: #231f20;
  font-size: 24px;
  margin-bottom: 20px;
}
.box-curso .botoes-box-curso {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-curso .botoes-box-curso a {
  color: #231f20;
  font-size: 14px;
  margin-right: 40px;
  font-weight: 700;
}
.box-curso .botoes-box-curso a:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .box-curso .botoes-box-curso a {
    margin-right: 20px;
  }
}
.box-curso .botoes-box-curso a .far {
  font-size: 14px;
}
#btn-vermais {
  float: left;
  width: 100%;
  margin: 40px 0;
  text-align: center;
}
#btn-vermais hr {
  width: 400px;
  border: 1px solid #a1a1a1;
  display: inline-block;
  margin: 10px 0;
}
@media (max-width: 768px) {
  #btn-vermais hr {
    width: 100%;
  }
}
#btn-vermais a {
  font-family: 'Spectral', serif;
  font-weight: 700;
  color: #231f20;
  font-size: 18px;
}
footer {
  float: left;
  width: 100%;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #f6f6f6;
  color: #838383;
}
footer span {
  font-size: 9px;
  font-weight: 700;
}
footer a {
  color: #CCC;
  margin: 0 3px;
}
footer .fa {
  font-size: 14px;
}
@media (max-width: 768px) {
  .pd0 {
    padding: 0;
  }
}
.pd0c {
  padding: 0;
}
.hidden {
  display: none;
}
#form-modal {
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  #form-modal {
    padding: 15px;
  }
}
#form-modal h2 {
  font-family: 'Spectral', serif;
  color: #231f20;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  float: left;
}
#form-modal input[type='text'] {
  float: left;
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  color: #231f20;
  border: none;
  margin-bottom: 10px;
  background: #f5f5f5;
}
#form-modal input[type='text']::-webkit-input-placeholder {
  color: #454543;
}
#form-modal input[type='text']:-moz-placeholder {
  color: #454543;
}
#form-modal input[type='text']::-moz-placeholder {
  color: #454543;
}
#form-modal input[type='text']:-ms-input-placeholder {
  color: #454543;
}
#form-modal textarea {
  float: left;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  color: #231f20;
  border: none;
  margin-bottom: 10px;
  background: #f5f5f5;
}
#form-modal textarea::-webkit-input-placeholder {
  color: #454543;
}
#form-modal textarea:-moz-placeholder {
  color: #454543;
}
#form-modal textarea::-moz-placeholder {
  color: #454543;
}
#form-modal textarea:-ms-input-placeholder {
  color: #454543;
}
#form-modal button[type='submit'] {
  float: left;
  color: #FFF;
  background: #454543;
  border: none;
  font-weight: 600;
  font-size: 13px;
  padding: 14px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#form-modal button[type='submit']:hover {
  background: #231f20;
}
#form-modal button[type='submit'] .far {
  margin-right: 10px;
  font-size: 18px;
}
#form-modal p {
  font-size: 12px;
  font-weight: 600;
}
#formulario-contato {
  float: left;
  width: 100%;
  margin-top: 110px;
}
@media (max-width: 768px) {
  #formulario-contato {
    margin-top: 0;
  }
}
#formulario-contato input[type='text'] {
  float: left;
  width: 100%;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  color: #231f20;
  border: none;
  margin-bottom: 15px;
  background: #FFF;
}
#formulario-contato input[type='text']::-webkit-input-placeholder {
  color: #454543;
}
#formulario-contato input[type='text']:-moz-placeholder {
  color: #454543;
}
#formulario-contato input[type='text']::-moz-placeholder {
  color: #454543;
}
#formulario-contato input[type='text']:-ms-input-placeholder {
  color: #454543;
}
@media (max-width: 768px) {
  #formulario-contato input[type='text'] {
    background: #f5f5f5;
  }
}
#formulario-contato textarea {
  float: left;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  color: #231f20;
  border: none;
  margin-bottom: 15px;
  background: #FFF;
}
#formulario-contato textarea::-webkit-input-placeholder {
  color: #454543;
}
#formulario-contato textarea:-moz-placeholder {
  color: #454543;
}
#formulario-contato textarea::-moz-placeholder {
  color: #454543;
}
#formulario-contato textarea:-ms-input-placeholder {
  color: #454543;
}
@media (max-width: 768px) {
  #formulario-contato textarea {
    background: #f5f5f5;
  }
}
#formulario-contato input[type='submit'] {
  float: left;
  color: #FFF;
  background: #454543;
  border: none;
  font-weight: 600;
  font-size: 13px;
  padding: 14px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#formulario-contato input[type='submit']:hover {
  background: #231f20;
}
.infocontato {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 30px;
  color: #000;
  margin-top: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.infocontato p {
  font-size: 12px;
  line-height: 25px !important;
  font-weight: 600;
}
.infocontato p strong {
  font-weight: 700;
}
.infocontato h3 {
  font-weight: 700;
  font-size: 16px;
}
.capacurso {
  margin-bottom: 40px;
}
.descricao-curso {
  text-align: center;
  margin-bottom: 50px;
}
.descricao-curso h1 {
  font-family: 'Spectral', serif;
  font-size: 36px;
  margin-bottom: 40px;
}
.descricao-curso p {
  margin-bottom: 20px;
  line-height: 30px;
}
.data-horario .far {
  font-size: 25px;
  float: left;
  height: 70px;
  margin-right: 10px;
}
.data-horario span {
  font-size: 14px;
}
.data-horario strong {
  font-size: 16px;
  font-weight: 700;
}
.data-horario small {
  font-weight: 600;
  font-size: 12px;
}
.btn-agendar-curso {
  text-align: center;
  margin: 50px 0;
}
.btn-agendar-curso a {
  background: #231f20;
  color: #FFF;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.btn-agendar-curso a .far {
  font-size: 18px;
  margin-right: 10px;
}
.btn-agendar-curso a:hover {
  background: #666;
}
